{
  "openapi": "3.0.3",
  "info": {
    "title": "Nexa API",
    "version": "1.0.0",
    "description": "API documentation for Nexa services"
  },
  "servers": [
    {
      "url": "https://api.nexa.com",
      "description": "Production server"
    }
  ],
  "paths": {
    "/languages": {
      "get": {
        "operationId": "LanguagesController_findAll",
        "parameters": [
          {
            "name": "voice_model_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional voice model ID filter"
          }
        ],
        "responses": {
          "200": { "description": "Success" },
          "400": { "description": "Bad Request" },
          "401": { "description": "Unauthorized" },
          "404": { "description": "Not Found" },
          "500": { "description": "Internal Server Error" }
        },
        "tags": ["Languages"]
      }
    },
    "/languages/{id}": {
      "get": {
        "operationId": "LanguagesController_findOne",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Language ID to fetch"
          }
        ],
        "responses": {
          "200": { "description": "Success" },
          "400": { "description": "Bad Request" },
          "401": { "description": "Unauthorized" },
          "404": { "description": "Not Found" },
          "500": { "description": "Internal Server Error" }
        },
        "tags": ["Languages"]
      }
    },
    "/models": {
      "get": { "operationId": "ModelsController_findAll", "responses": { "200": { "description": "Success" } }, "tags": ["Models"] }
    },
    "/llms": {
      "get": { "operationId": "LlmsController_findAll", "responses": { "200": { "description": "Success" } }, "tags": ["LLMs"] }
    }
  },
  "components": {
    "schemas": {
      "Language": {
        "type": "object",
        "properties": {
          "code": { "type": "string" },
          "name": { "type": "string" },
          "nativeName": { "type": "string" }
        }
      },
      "Model": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" }
        }
      }
    }
  }
}
